<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="com.hwangdang.vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/hwangdang/common/config/mybatis/mapper/member-mapper.xml" />
		<mapper resource="com/hwangdang/common/config/mybatis/mapper/admin-noticeQnA-mapper.xml" />
	</mappers>

</configuration>